.home {
    position: relative ;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    max-width: 500px;
    text-align: center;
}

.home-img {
    margin-bottom: 1rem;
}

.home-name {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.home-social {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    margin: 1.5rem 0;
}

.home-social_link {
    color: var(--title-color);
    font-size: 1rem;
    transition: .3s;
}

.home-social_link:hover {
    color: hsl(43,100%,68%);
}

.scroll-down {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
}

.scroll-home-name {
    font-size: var(--small-font-size);

}

.mouse {
    border: 2px solid var(--text-color);
    display: block;
    height: 1.5rem;
    width: 1.2rem;
    margin: auto;
    margin-top: .75rem;
    border-radius: 1rem;
    position: relative;
}

@keyframes animation-mouse {
    0% {
        top: 30%;
    }
    15% {
        top: 60%;
    }
    50% {
        top:60%;
    }
    100% {
        top:30%;
    }
    
}

.mouse-wheel {
    background-color: var(--title-color);
    border-radius: 100%;
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);  
    animation: animation-mouse 2s linear infinite;

}

/* Shapes --> formas na tela */

.shapes {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.shape {
    position: absolute;
}

.s1 {
    left: 2%;
    top: 10%;
}

.s2 {
    left: 15%;
    top: 28%;
}

.s3 {
    left: 5%;
    bottom: 28%;
}

.s4 {
    left: 2%;
    bottom: 10%;
}

.s5 {
    left: 44%;
    top: 10%;
}

.s6 {
    left: 34%;
    bottom: 10%;
}

.s7 {
    right: 25%;
    top: 20%;
}

.s8 {
    right: 22%;
    bottom: 20%;
}

.s9 {
    right: 2%;
    top: 10%;
}

.s10 {
    right: 10%;
    top: 45%;
}

.s11 {
    right: 2%;
    bottom: 10%;
}